<template>
  <q-layout view="lHh Lpr lFf" class="bg-grey-2">
    <q-page-container>
      <q-page>
        <div class="row">
          <div class="col-1 col-sm-4"></div>
          <div class="col-10 col-sm-4">
            <div class="text-subtitle1 text-center q-pt-xs text-grey q-pt-lg">Ingresa</div>
            <div class="text-h4 text-center q-pa-xs text-black text-bold">Selecione tipo de usuario</div>
            <q-card>
              <q-card-section>
                <div class="row">
                  <div class="col-6 text-center">
                    <q-radio dense label="Usuario Exterior" val="userExterior" v-model="userExterior" />
                  </div>
                  <div class="col-6 text-center">
                    <q-radio dense label="Usuario Senasag" val="userSenasag" v-model="userExterior" />
                  </div>
                  <div class="col-12 q-pt-md">
                    <q-btn @click="selecionar()" label="Ingresar" color="primary" icon="check" class="full-width" />
                  </div>
                </div>
              </q-card-section>
            </q-card>
            <div class="text-subtitle1 text-center text-caption q-pt-lg text-grey">AL INICIAR SESIÓN, USTED ACEPTA LOS
              <a href="" class="text-blue-8 ">TÉRMINOS DEL SERVICIO</a> Y <a href="" class="text-blue-8 ">LA POLÍTICA DE PRIVACIDAD</a>
            </div>
          </div>
          <div class="col-1 col-sm-4"></div>
        </div>
      </q-page>
    </q-page-container>
    <q-dialog v-model="userSenasagShow">
      <q-card flat bordered>
        <q-card-section >
          <q-form class="q-pa-lg" @submit.prevent="login">
            <div class="row">
              <div class="col-12">
                <!--<q-select :options="['ci']" outlined v-model="email" label="Tipo Parametro" type="email" required />-->
                <q-input  outlined v-model="email" label="Nombre Usuario"  required />
              </div>
              <div class="col-12 q-pt-lg">
                <!--<q-input outlined v-model="password" label="Carnet de identidad" :type="typePassword?'password':'text'" required >-->
                <q-input outlined v-model="password" label="Clave User" :type="typePassword?'password':'text'" required >
                  <template v-slot:append>
                    <q-icon @click="typePassword=!typePassword" :name="typePassword?'visibility':'visibility_off'" />
                  </template>
                </q-input>
              </div>
              <div class="col-12 q-py-xs">
                <q-checkbox v-model="remember" class="grey" label="Recuérdame" size="30px" />
              </div>
              <div class="col-12 q-pt-xs">
                <q-btn size="22px" :loading="loading" class="full-width bold" color="primary" label="Iniciar Sesión" type="submit" no-caps />
              </div>
              <div class="col-12 q-pt-xs">
              </div>
              <div class="col-12 text-center q-py-none">
                <a href="" class="text-blue-8 ">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="userExteriorShow">
      <q-card flat bordered>
        <q-card-section >
          <q-form class="q-pa-lg" @submit.prevent="loginExterior">
            <div class="row">
              <div class="col-12">
                <q-input outlined v-model="ci" label="Carnet identidad" type="text" required />
              </div>
              <div class="col-12 q-py-xs">
                <q-checkbox v-model="remember" class="grey" label="Recuérdame" size="30px" />
              </div>
              <div class="col-12 q-pt-xs">
                <q-btn size="22px" :loading="loading" class="full-width bold" color="primary" label="Iniciar Sesión" type="submit" no-caps />
              </div>
              <div class="col-12 q-pt-xs">
              </div>
              <div class="col-12 text-center q-py-none">
                <a href="" class="text-blue-8 ">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import {useCounterStore} from "stores/example-store";
// import { Providers} from 'universal-social-auth'
export default {
  name: `Login`,
  data () {
    return {
      email: '',
      ci: '',
      userSenasagShow: false,
      userExteriorShow: false,
      userExterior: 'userExterior',
      password: '',
      remember:false,
      typePassword:true,
      loading:false,
      store:useCounterStore()
    }
  },
  mounted() {
    if (this.store.isLoggedIn){
      this.$router.push('/')
    }
  },
  methods:{
    selecionar(){
      if (this.userExterior === 'userExterior'){
        this.userExteriorShow = true
      }else{
        this.userSenasagShow = true
      }
    },
    // useAuthProvider (provider, proData) {
    //   const pro = proData
    //   const ProData = pro || Providers[provider]
    //   this.$q.loading.show()
    //   this.$Oauth.authenticate(provider, ProData).then((response) => {
    //     if (response.code) {
    //       this.$api.post('sociallogin/'+provider,response).then(res => {
    //         // console.log(response.data)
    //         this.$q.loading.hide()
    //         this.$q.notify({
    //           message: 'Bienvenido',
    //           color: 'positive',
    //           icon: 'check_circle',
    //           position: 'top'
    //         })
    //         this.$router.push('/')
    //         this.store.user=res.data.user
    //         this.store.isLoggedIn=true
    //         this.$api.defaults.headers.common['Authorization'] = 'Bearer '+res.data.token
    //         localStorage.setItem('tokenMaco',res.data.token)
    //       }).catch(err => {
    //         console.log({err:err})
    //       }).finally(() => {
    //         this.$q.loading.hide()
    //       })
    //     }else{
    //       this.$q.loading.hide()
    //     }
    //   }).catch((err) => {
    //     console.log(err)
    //   }).finally(() => {
    //     // this.$q.loading.hide()
    //   })
    // },
    loginExterior(){
      this.$q.loading.show()
      this.$api.post('loginExterior',{ci:this.ci}).then(res => {
        this.$q.loading.hide()
        this.$q.notify({
          message: 'Bienvenido',
          color: 'positive',
          icon: 'check_circle',
          position: 'top'
        })
        this.store.user=res.data.user
        this.store.isLoggedIn=true
        this.$api.defaults.headers.common['Authorization'] = 'Bearer '+res.data.token
        localStorage.setItem('tokenMaco',res.data.token)
        this.$router.push('/')
      }).catch(err => {
        console.log({err:err})
      }).finally(() => {
        this.$q.loading.hide()
      })
    },
    login(){
      this.loading=true
      this.$api.post('login', {
        tipoParametro: this.email,
        valor: this.password,
      }).then(res => {
        console.log(res.data)
        this.$q.notify({
          message: 'Bienvenido',
          color: 'positive',
          icon: 'check_circle',
          position: 'top'
        })

        this.store.user=res.data.user
        this.store.isLoggedIn=true
        this.$api.defaults.headers.common['Authorization'] = 'Bearer '+res.data.token
        localStorage.setItem('tokenMaco',res.data.token)
        // if (res.data.user.tipo=='IT'){
        //   this.$router.push('/solicitudes')
        // }else if (res.data.user.tipo=='ET'){
        //   this.$router.push('/solicitudes')
        // }else{
          this.$router.push('/')
        // }
      }).catch(error => {
        console.log(error)
        this.$q.notify({
          message: error.response.data.message,
          color: 'negative',
          position: 'top',
          timeout: 2000
        })
      }).finally(()=>{
        this.loading=false
      })
    }
  }
}
</script>

<style scoped>
div.linea {
  position: relative;
  z-index: 1;
}
div.linea:before {
  border-top: 1px solid grey;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
div.linea span {
  background: #fff;
  padding: 0 10px;
  color: grey;
}
</style>
