<template>
  <q-page>
    <q-table :rows="mascotas" :columns="mascotaColums" :filter="search">
      <template v-slot:top-right>
        <q-toolbar>
          <q-btn flat icon="add_circle_outline" @click="showAddUserDialog = true;mascotaCrear=true" />
          <q-input v-model="search"  outlined  dense placeholder="Buscar..." />
        </q-toolbar>
      </template>
      <template v-slot:body-cell-role="props">
        <q-td :props="props" auto-width >
          <q-badge dense text-color="white" :color="props.row.role=='ADMINISTRADOR'?'red':props.row.role=='INSCRIPCION'?'green':props.row.role=='ACREDITACION'?'blue':'cyan'">{{props.row.role.substring(0,4)}}</q-badge>
        </q-td>
      </template>
      <template v-slot:body-cell-option="props">
        <q-td :props="props" auto-width >
          <q-btn flat dense icon="o_edit" @click="mascotaEdit(props.row)" />
          <q-btn flat dense v-if="props.row.id!=1" icon="o_delete" @click="mascotaDelete(props.row)" />
          <q-btn flat dense v-if="props.row.id!=1" icon="o_key" @click="updatePassword(props.row)" />
        </q-td>
      </template>
    </q-table>
    <q-dialog v-model="showAddUserDialog" >
      <q-card style="width: 700px;max-width: 85vw">
        <q-card-section class="row items-center">
          <div class="text-h6">Agregar Mascota</div>
        </q-card-section>
        <q-card-section>
          <q-form @submit.prevent="mascotaCreate">
            <q-input v-model="mascota.name" hint="" required outlined label="Nombre" />
            <q-input v-model="mascota.email" hint="" required outlined label="Email" />
            <q-input v-model="mascota.password" type="password" hint="" required outlined label="Password" />
            <q-select v-model="mascota.role" hint="" required outlined label="Rol" :options="roles" />
            <q-btn :loading="loading" type="submit" color="primary" icon="add_circle_outline" label="Guardar" class="full-width" />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showUpdateUserDialog" >
      <q-card style="width: 700px;max-width: 85vw">
        <q-card-section class="row items-center">
          <div class="text-h6">Agregar Mascota</div>
        </q-card-section>
        <q-card-section>
          <q-form @submit.prevent="mascotaUpdate">
            <q-input v-model="mascota.name" hint="" required outlined label="Nombre" />
            <q-input v-model="mascota.email" hint="" required outlined label="Email" />
            <q-select v-model="mascota.role" hint="" required outlined label="Rol" :options="roles" />
            <q-btn :loading="loading" type="submit" color="primary" icon="add_circle_outline" label="Guardar" class="full-width" />
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  name: `Mascota`,
  data () {
    return {
      roles: [
        'INSCRIPCION',
        'ACREDITACION',
        'REFRIGERIO',
        'ADMINISTRADOR',
      ],
      showAddUserDialog: false,
      showUpdateUserDialog: false,
      search: '',
      mascotas: [],
      mascota:{},
      loading: false,
      mascotaCrear: true,
      mascotaColums:[
        {name: 'option', field: 'option', label: 'Opciones', align: 'left', sortable: true},
        {name: 'role', field: 'role', label: 'Rol', align: 'left', sortable: true},
        {name: 'id', label: 'ID', field: 'id', align: 'left', sortable: true},
        {name: 'name', label: 'Nombre', field: 'name', align: 'left', sortable: true},
        {name: 'email', label: 'Email', field: 'email', align: 'left', sortable: true},
      ]
    }
  },
  methods:{
    mascotaUpdate(){
      this.loading = true
      this.$api.put(`mascota/${this.mascota.id}`,this.mascota)
        .then(res=>{
          this.loading = false
          this.showUpdateUserDialog = false
          this.$q.notify({
            color: 'green-4',
            textColor: 'white',
            icon: 'check_circle',
            message: 'Mascota actualizado'
          })
          this.mascota = {}
          this.mascotasGet()
        })
        .catch(err=>{
          this.loading = false
          this.$q.notify({
            color: 'red-4',
            textColor: 'white',
            icon: 'error',
            message: 'Error al actualizar usuario'
          })
        })
    },
    mascotasGet(){
      this.$q.loading.show()
      this.$api.get('mascota').then(response => {
        this.mascotas = response.data
        this.$q.loading.hide()
      })
    },
    mascotaCreate(){
      if (this.mascotaCrear){
        this.loading = true
        this.$api.post('mascota', this.mascota).then(response => {
          this.mascotasGet()
          this.showAddUserDialog = false
          this.mascota = {}
          this.loading = false
        }).catch(error => {
          this.loading = false
          this.$q.notify({
            color: 'negative',
            message: error.response.data.message,
            icon: 'report_problem',
            position: 'top'
          })
        })
      }else{
        this.loading = true
        this.$api.put('mascota/'+this.mascota.id, this.mascota).then(response => {
          this.mascotasGet()
          this.showAddUserDialog = false
          this.mascota = {}
          this.loading = false
        }).catch(error => {
          this.loading = false
          this.$q.notify({
            color: 'negative',
            message: error.response.data.message,
            icon: 'report_problem',
            position: 'top'
          })
        })
      }
    },
    mascotaEdit(mascota){
      this.mascota = mascota
      this.mascotaCrear = false
      this.showUpdateUserDialog = true
    },
    updatePassword(mascota){
      this.$q.dialog({
        title: 'Cambiar contraseña',
        message: 'Ingrese la nueva contraseña',
        prompt: {
          model: '',
          type: 'password'
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        this.$api.put(`updatePassword/${mascota.id}`,{password:data})
          .then(res=>{
            this.$q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'check_circle',
              position: 'top',
              message: 'Contraseña actualizada'
            })
          })
          .catch(err=>{
            this.$q.notify({
              color: 'red-4',
              textColor: 'white',
              icon: 'error',
              position: 'top',
              message: err.response.data.message
            })
          })
      }).onCancel(() => {
        console.log('Cancel')
      }).onDismiss(() => {
        console.log('Dismissed')
      })
    },
    mascotaDelete(mascota){
      this.$q.dialog({
        title: 'Eliminar',
        message: '¿Está seguro de eliminar el usuario?',
        ok: 'Si',
        cancel: 'No'
      }).onOk(() => {
        this.$q.loading.show()
        this.$api.delete('mascota/'+mascota.id).then(response => {
          this.mascotasGet()
        })
      })
    }
  },
  created() {
    this.mascotasGet()
  }
}
</script>

<style scoped>
</style>
