<template>
<q-page>
  <q-card>
    <q-form @submit="userUpdate">
    <q-card-section class="bg-primary text-white q-pa-xs">
      <div class="text-subtitle2">Datos del Responsable</div>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <div class="row">
        <q-input class="col-12 col-md-3" disable dense required v-model="user.ci" label="Doc. Numero" outlined :rules="[ val => val.length > 0 || 'Doc numero es requerido' ]"/>
        <q-select class="col-12 col-md-3" dense required v-model="user.expedido" outlined :rules="[ val => val.length > 0 || 'Dato es requerido' ]" label="Expedido" :options="expedido"/>
        <q-input class="col-12 col-md-3" dense required v-model="user.apellidos" label="Apellidos" outlined lazy-rules :rules="[ val => val.length > 0 || 'Apellido es requerido' ]"/>
        <q-input class="col-12 col-md-3" dense required v-model="user.name" label="Nombres" hint="" outlined  lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
        <q-input class="col-12 col-md-3" dense required v-model="user.celular" label="Celular" hint="" outlined  lazy-rules :rules="[ val => val.length > 0 || 'Celular es requerido' ]"/>
        <q-select class="col-12 col-md-3" dense required v-model="user.genero" outlined :rules="[ val => val.length > 0 || 'Dato es requerido' ]" label="Genero" :options="generos"/>
        <q-input class="col-12 col-md-3" dense required v-model="user.direccion" label="Direccion" outlined lazy-rules :rules="[ val => val.length > 0 || 'direccion es requerido' ]"/>
        <q-input class="col-12 col-md-3" dense required v-model="user.email" label="Email" outlined lazy-rules :rules="[ val => val.length > 0 || 'direccion es requerido' ]"/>
       <!-- <q-select class="col-12 col-md-3" dense required v-model="user.tipo" label="Tipo" hint="" outlined :options="tipopersona" />-->

        <div class="col-12">
          <q-btn type="submit" :loading="loading" class="full-width" icon="check" color="primary" label="Actualizar datos" />
        </div>
      </div>
    </q-card-section>
    </q-form>
  </q-card>
</q-page>
</template>

<script>
import {useCounterStore} from "stores/example-store";

export default {
  name: `MisDatos`,
  data(){
    return{
      store: useCounterStore(),
      user:{},
      loading:false,
      tipopersona: ['IMPORTADOR', 'TRAMITADOR', 'EXPORTADOR'],
      generos: ['MASCULINO', 'FEMENINO'],
      expedido:[
        'LP' ,
        'SC' ,
        'CB' ,
        'OR' ,
        'TJ' ,
        'BE' ,
        'PD' ,
        'PT' ,
        'CH' ,
      ],
    }
  },
  mounted() {
    this.user = this.store.user
  },
  methods: {
    userUpdate(){
      this.loading = true
      this.$api.put('user/'+this.user.id, this.user).then(res => {
        this.loading = false
        this.store.user=this.user
        this.$router.push('/')
        this.$q.notify({
          message: 'Datos actualizados',
          color: 'positive',
          position: 'top',
          timeout: 2000
        })
      })
    }
  }
}
</script>

<style scoped>

</style>
