<template>
<q-page>
<q-card>
  <q-card-section>
    <div class="text-h6">Reporte Economico</div>
  </q-card-section>
  <q-card-section>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="text-h5 text-center">REPORTE FORMA DE PAGO</div>
        <q-table :rows="economicoPago" dense>
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-12 col-md-4"><q-input v-model="fechaDesde" label="Fecha Desde" dense outlined type="date" /></div>
              <div class="col-12 col-md-4"><q-input v-model="fechaHasta" label="Fecha Hasta" dense outlined type="date" /></div>
              <div class="col-6 col-md-3 flex flex-center"><q-btn @click="reportEconomicoPago(fechaDesde,fechaHasta,'economicoPago')" color="primary" no-caps label="Consulta" /></div>
              <div class="col-6 col-md-1 flex flex-center"><q-btn icon="download" @click="exportarExcel('economicoPago',economicoPago,'forma','cantidad')" color="green" no-caps /></div>
            </div>
          </template>
        </q-table>
      </div>
      <div class="col-12 col-md-6">
        <div class="text-h5 text-center">REPORTE PAIS DESTINO</div>
        <q-table :rows="economicoMascota" dense>
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-12 col-md-4"><q-input v-model="fechaDesde" label="Fecha Desde" dense outlined type="date" /></div>
              <div class="col-12 col-md-4"><q-input v-model="fechaHasta" label="Fecha Hasta" dense outlined type="date" /></div>
              <div class="col-6 col-md-3 flex flex-center"><q-btn @click="reportEconomicoMascota(fechaDesde,fechaHasta,'economicoMascota')" color="primary" no-caps label="Consulta" /></div>
              <div class="col-6 col-md-1 flex flex-center"><q-btn icon="download" @click="exportarExcel('economicoMascota',economicoMascota,'nombre','cantidad')" color="green" no-caps /></div>
            </div>
          </template>
        </q-table>
      </div>
      <div class="col-12 col-md-6">
        <div class="text-h5 text-center">REPORTE TIPO MASCOTA</div>
        <q-table :rows="emision" dense>
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-12 col-md-4"><q-input v-model="fechaDesde" label="Fecha Desde" dense outlined type="date" /></div>
              <div class="col-12 col-md-4"><q-input v-model="fechaHasta" label="Fecha Hasta" dense outlined type="date" /></div>
              <div class="col-6 col-md-3 flex flex-center"><q-btn @click="reportEmision(fechaDesde,fechaHasta,'emision')" color="primary" no-caps label="Consulta" /></div>
              <div class="col-6 col-md-1 flex flex-center"><q-btn icon="download" @click="exportarExcel('emision',emision,'tipo','cantidad')" color="green" no-caps /></div>
            </div>
          </template>
        </q-table>
      </div>
      <div class="col-12 col-md-6">
        <div class="text-h5 text-center">REPORTE SOLICITUDES</div>
        <q-table :rows="anulados" :columns="columna2" dense>
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-12 col-md-4"><q-input v-model="fechaDesde" label="Fecha Desde" dense outlined type="date" /></div>
              <div class="col-12 col-md-4"><q-input v-model="fechaHasta" label="Fecha Hasta" dense outlined type="date" /></div>
              <div class="col-6 col-md-3 flex flex-center"><q-btn @click="reportAnulado(fechaDesde,fechaHasta,'anulados')" color="primary" no-caps label="Consulta" /></div>
            </div>
          </template>
        </q-table>
      </div>
      <div class="col-12 ">
        <div class="text-h5 text-center">REPORTE ECONOMICO DE SOLICITUDES</div>

        <q-table :rows="listado" dense :columns="columna">
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-12 col-md-4"><q-input v-model="fechaDesde" label="Fecha Desde" dense outlined type="date" /></div>
              <div class="col-12 col-md-4"><q-input v-model="fechaHasta" label="Fecha Hasta" dense outlined type="date" /></div>
              <div class="col-6 col-md-3 flex flex-center"><q-btn @click="reportListado(fechaDesde,fechaHasta,'listado')" color="primary" no-caps label="Consulta" /></div>
            </div>
          </template>
        </q-table>
      </div>
      <div class="col-12 ">
        <div class="text-h5 text-center">REPORTE ECONOMICO PAGOS SERVICIOS</div>
        <q-table :rows="reportepago" dense >
          <template v-slot:top>
            <div class="row full-width">
              <div class="col-12 col-md-3"><q-input v-model="fechaDesde" label="Fecha Desde" dense outlined type="date" /></div>
              <div class="col-12 col-md-3"><q-input v-model="fechaHasta" label="Fecha Hasta" dense outlined type="date" /></div>
              <div class="col-12 col-md-2" v-if="store.user.tipo=='ER'"><q-select dense outlined v-model="departamento" :options="dept" label="Departamento" /></div>
              <div class="col-12 col-md-2"><q-select dense outlined v-model="servicio" :options="servicios" label="Nro Servicio" /></div>
              <div class="col-6 col-md-2 flex flex-center"><q-btn @click="reportPagos()" color="primary" no-caps label="Consulta" /></div>
            </div>
          </template>
        </q-table>
      </div>
    </div>
  </q-card-section>
</q-card>
</q-page>
</template>

<script>
import {date} from "quasar";
import xlsx from "json-as-xlsx"
import {useCounterStore} from "stores/example-store";

export default {
  name: `Reporte`,
  data () {
    return {
      store:useCounterStore(),
      fechaDesde: date.formatDate(new Date(), 'YYYY-MM-DD'),
      fechaHasta: date.formatDate(new Date(), 'YYYY-MM-DD'),
      economicoPago: [],
      economicoMascota: [],
      emision:[],
      anulados:[],
      listado:[],
      reportepago:[],
      departamento:'',
      dept:[
        {label:'TODOS',value:'' },
        {label:'BENI',value:'BEN' },
        {label:'COCHABAMBA',value:'CBB'  },
        {label:'CHUQUISACA',value:'CHU'  },
        {label:'LA PAZ',value:'LPZ'  },
        {label:'ORURO',value:'ORU'  },
        {label:'PANDO',value:'PDO'  },
        {label:'POTOSI',value:'PTS'  },
        {label:'SANTA CRUZ',value:'SCZ'  },
        {label:'TARIJA',value:'TJA'  },
      ],
      servicios:['154','222','217'],
      servicio:'154',
      columna:[
        { label:'Exportador',field:'nombreExportador',name:'nombreExportador'},
        { label:'tipo',field:'tipo',name:'tipo'},
        { label:'mascota',field:'mascota',name:'mascota'},
        { label:'origen',field:'origen',name:'origen'},
        { label:'destino',field:'destino',name:'destino'},
        { label:'monto',field:'monto',name:'monto'},
        { label:'diff',field:'diff',name:'diff'},
      ],
      columna2:[
        { label:'Exportador',field:'nombreExportador',name:'nombreExportador'},
        { label:'tipo',field:'tipo',name:'tipo'},
        { label:'mascota',field:'mascota',name:'mascota'},
        { label:'fecha',field:'fecha',name:'fecha'},
        { label:'motivo',field:'motivo',name:'motivo'},
        { label:'certificado',field:'certificado',name:'certificado'},
        { label:'talonario',field:'talonario',name:'talonario'},
      ],
      loading: false,
    }
  },
  created() {
    this.reportEconomicoPago(this.fechaDesde, this.fechaHasta, 'economicoPago');
    this.reportEconomicoMascota(this.fechaDesde, this.fechaHasta, 'economicoMascota');
    this.reportEmision(this.fechaDesde, this.fechaHasta, 'emision');
    this.reportAnulado(this.fechaDesde, this.fechaHasta, 'anulados');
    this.reportListado(this.fechaDesde, this.fechaHasta, 'listado');

    if (this.store.user.tipo=='IT' || this.store.user.tipo=='ET' || this.store.user.tipo=='ER'){
      this.departamento=this.dept.find(r=>r.value==this.store.user.ciudad)
    }
  },
  methods: {
    exportarExcel(type,array,name,cantidad) {
      let data = [
        {
          // sheet: "Adults",
          columns: [
            { label: name, value: name },
            { label: cantidad, value: cantidad },
            // { label: "Age", value: (row) => row.age + " years" }, // Custom format
            // { label: "Phone", value: (row) => (row.more ? row.more.phone || "" : "") }, // Run functions
          ],
          content: array
        },
      ]

      let settings = {
        fileName: type + '_' + date.formatDate(new Date(), 'YYYY-MM-DD'),
        // extraLength: 3, // A bigger number means that columns will be wider
        // writeMode: "writeFile", // The available parameters are 'WriteFile' and 'write'. This setting is optional. Useful in such cases https://docs.sheetjs.com/docs/solutions/output#example-remote-file
        writeOptions: {}, // Style options from https://docs.sheetjs.com/docs/api/write-options
        // RTL: true, // Display the columns from right-to-left (the default value is false)
      }

      xlsx(data, settings) // Will download the excel file
    },
    reportEconomicoPago(fechaDesde, fechaHasta, type) {
      this.loading = true;
      this.$api.post(`report`,{
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        type: type,
      }).then(response => {
          this.economicoPago = response.data;
      }).catch(error => {
          this.$notify({
            message: error.response.data.message,
            color: 'negative',
            icon: 'error',
            position: 'top'
          })
      }).finally(() => {
          this.loading = false;
      });
    },
    reportEconomicoMascota(fechaDesde, fechaHasta, type) {
      this.loading = true;
      this.$api.post(`report`,{
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        type: type,
      }).then(response => {
        this.economicoMascota = response.data;
      }).catch(error => {
        this.$notify({
          message: error.response.data.message,
          color: 'negative',
          icon: 'error',
          position: 'top'
        })
      }).finally(() => {
        this.loading = false;
      });
    },
    reportEmision(fechaDesde, fechaHasta, type) {
      this.loading = true;
      this.$api.post(`report`,{
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        type: type,
      }).then(response => {
        this.emision = response.data;
      }).catch(error => {
        this.$notify({
          message: error.response.data.message,
          color: 'negative',
          icon: 'error',
          position: 'top'
        })
      }).finally(() => {
        this.loading = false;
      });
    },
    reportAnulado(fechaDesde, fechaHasta, type) {
      this.loading = true;
      this.$api.post(`report`,{
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        type: type,
      }).then(response => {
        console.log(response.data)
        this.anulados = response.data;
      }).catch(error => {
        this.$notify({
          message: error.response.data.message,
          color: 'negative',
          icon: 'error',
          position: 'top'
        })
      }).finally(() => {
        this.loading = false;
      });
    },
    reportListado(fechaDesde, fechaHasta, type) {
      this.loading = true;
      this.$api.post(`report`,{
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        type: type,
      }).then(response => {
        this.listado = response.data;
      }).catch(error => {
        this.$notify({
          message: error.response.data.message,
          color: 'negative',
          icon: 'error',
          position: 'top'
        })
      }).finally(() => {
        this.loading = false;
      });
    },
    reportPagos(){
      this.loading = true;
      this.$api.post(`reportPagos`,{
        fechaDesde: this.fechaDesde,
        fechaHasta: this.fechaHasta,
        origen: this.departamento.value,
        servicio:this.servicio
      }).then(response => {
        console.log(response.data)
        this.reportepago = response.data;
      }).catch(error => {
        this.$notify({
          message: error.response.data.message,
          color: 'negative',
          icon: 'error',
          position: 'top'
        })
      }).finally(() => {
        this.loading = false;
      });
    }
  }
}
</script>

<style scoped>

</style>
