<template>
  <q-page>
    <q-card v-if="store.user.name==''||store.user.name==undefined" class="q-pa-md">
      <div class="text-h4 flex flex-center text-red">Para Realizar una solicitud debe completar sus datos </div>
      <div class="text-center">
        <q-btn label="Ingresar Datos" icon="o_contact_mail" to="misdatos" color="primary" />
      </div>
    </q-card>
    <div class="row" v-else>
      <div class="col-12">
        <q-card>
          <q-card-section class="text-right">
            <q-btn outline icon="add_circle_outline" :loading="loading" label="Crear solicitud" color="primary" @click="crearSol" />
          </q-card-section>
          <q-card-section v-if="pedidos.length==0">
            <div class="text-center">
              <q-icon name="o_takeout_dining" size="350px" color="grey" />
              <div class="text-h5 text-grey">No hay solicitudes</div>
            </div>
          </q-card-section>
          <q-card-section v-else>

            <q-table :rows="pedidos" :columns="columns">
              <template v-slot:top-right>
            <q-input outlined dense debounce="300" v-model="filter" placeholder="Buscar" :filter="filter">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
              <template v-slot:body-cell-opcion="props">
            <q-td auto-width :props="props">
              <q-btn color="info" icon="print" dense  @click="imprimir" />
            </q-td>
          </template>
            </q-table>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="show" full-width="">
      <q-card class="full-width">
        <q-card-section>
          <div class="q-pa-md">
            <!--    <div class="col-12">-->
            <!--      <iframe id="docpdf" src="" frameborder="0" style="width: 100%;height: 100vh"></iframe>-->
            <!--    </div>-->
            <q-form
              @submit.prevent="insertar"
              class="q-gutter-md"
            >

            <q-stepper  v-model="step" header-nav ref="stepper" color="teal-6" >

              <q-step :name="1" title="1.- Datos Exportador" icon="person" active-icon="person" done-icon="person" error-icon="person" :done="step > 1">
                <q-card class="my-card">

                  <q-card-section class="bg-primary text-white q-pa-xs">
                    <div class="text-subtitle2">DATOS DEL EXPORTADOR </div>
                  </q-card-section>
                  <q-separator />
                <q-card-section>

                  <div class="row">
                    <q-input class="col-12" dense v-model="pedido.origen" label="Departamento origen de Tramite" outlined lazy-rules :rules="[ val => val.length > 0 || 'dato es requerido' ]" readonly/>

                    <q-input class="col-12 col-md-3" dense v-model="pedido.documentoExportador" @change="buscarExportador" label="CI" outlined lazy-rules :rules="[ val => val.length > 0 || 'ci es requerido' ]" />
                    <q-input class="col-12 col-md-3" dense v-model="pedido.nombreExportador" label="Nombre Completo" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]" :readonly="exportador"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.direccionExportador" label="Direccion" outlined lazy-rules :rules="[ val => val.length > 0 || 'Direccion es requerido' ]"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.celularExportador" label="celular" outlined lazy-rules :rules="[ val => val.length > 0 || 'Telefono es requerido' ]"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.correoExportador" label="Correo Electronico" outlined lazy-rules :rules="[ val => val.length > 0 || 'Correo es requerido' ]"/>
                  </div>
                </q-card-section>
              </q-card>

                <q-stepper-navigation>
                  <q-btn @click="step = 2" icon="arrow_forward_ios" color="teal-6" label="Datos Importador" />
                </q-stepper-navigation>
              </q-step>

              <q-step :name="2" title="2.- Datos Importador" icon="person" active-icon="person" done-icon="person" error-icon="person" :done="step > 2">
                <q-card class="my-card">

                  <q-card-section class="bg-primary text-white q-pa-xs">
                    <div class="text-subtitle2">DATOS DEL IMPORTADOR </div>
                  </q-card-section>
                  <q-separator />
                <q-card-section>

                  <div class="row">
                    <q-input class="col-12 col-md-3" dense v-model="pedido.documentoImportador" @change="buscarImportador" label="CI" outlined lazy-rules :rules="[ val => val.length > 0 || 'ci es requerido' ]"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.nombreImportador" label="Nombre Completo" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]" :readonly="importador"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.direccionImportador" label="Direccion" outlined lazy-rules :rules="[ val => val.length > 0 || 'Direccion es requerido' ]"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.celularImportador" label="celular" outlined lazy-rules :rules="[ val => val.length > 0 || 'Telefono es requerido' ]"/>
                    <q-input class="col-12 col-md-3" dense v-model="pedido.correoImportador" label="Correo Electronico" outlined lazy-rules :rules="[ val => val.length > 0 || 'Correo es requerido' ]"/>
                  </div>
                </q-card-section>
              </q-card>

                <q-stepper-navigation>
                  <q-btn @click="step = 3" icon="arrow_forward_ios" color="teal-6" label="Datos de Mascota" />
                  <q-btn @click="step = 1" color="red" label="Atras" class="q-ml-sm" icon="arrow_back_ios" />
                </q-stepper-navigation>
              </q-step>

              <!--      caption="Optional"-->
              <q-step :name="3" title="3.- Informacion Mascota" icon="pets" active-icon="pets" done-icon="pets" error-icon="pets" :done="step > 3" >
                <q-card>
                  <q-card-section class="bg-primary text-white q-pa-xs">
                    <div class="text-subtitle2">Datos de Mascota</div>
                  </q-card-section>
                  <q-separator />
                  <q-card-section>
                    <div class="row">
                      <q-input class="col-12 col-md-3" dense v-model="mascota.chip"  label="Codigo" @keyup="buscarMascota" outlined lazy-rules :rules="[ val => val > 0 || 'Doc numero es requerido' ]"/>
                      <q-input class="col-12 col-md-3" dense v-model="mascota.nombre" label="Nombre" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                      <q-input class="col-12 col-md-3" dense v-model="mascota.raza" label="Raza" outlined lazy-rules :rules="[ val => val.length > 0 || 'Raza es requerido' ]"/>
                      <q-input class="col-12 col-md-3" dense v-model="mascota.rasgos" label="Rasgos" outlined lazy-rules :rules="[ val => val.length > 0 || 'Rasgos es requerido' ]"/>
                      <q-input class="col-12 col-md-3" dense v-model="mascota.fechanac" label="Fecha Nac" type="date" outlined lazy-rules :rules="[ val => val.length > 0 || 'fecha es requerido' ]"/>
                      <q-select class="col-12 col-md-3" dense v-model="mascota.sexo" outlined :rules="[ val => val.length > 0 || 'Sexo' ]" label="Sexo" :options="['HEMBRA', 'MACHO']"/>
                        <q-select class="col-12 col-md-3" dense v-model="mascota.tipo" outlined :rules="[ val => val.length > 0 || 'Tipo de Mascota' ]" label="Tipo de Mascota" :options="['FELINO', 'CANINO']"/>
                      <q-input class="col-12 col-md-3" dense v-model="mascota.localidad" label="Localidad de nacimiento" outlined lazy-rules hint=""/>
                    </div>
                  </q-card-section>
                </q-card>

                <q-stepper-navigation>
                  <q-btn @click="step = 4" icon="arrow_forward_ios" color="teal-6" label="Destino de viaje" />
                  <q-btn @click="step = 2" color="red" label="Atras" class="q-ml-sm" icon="arrow_back_ios" />
                </q-stepper-navigation>
              </q-step>
              <q-stepper-navigation>
                <q-btn @click="step = 1" icon="arrow_forward_ios" color="primary" label="Destino viaje" />
                <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
              </q-stepper-navigation>
              <q-step
                :name="4"
                title="4.- Destino de viaje"
                icon="trending_up"
                error-icon="trending_up"
                active-icon="trending_up"
                done-icon="trending_up"
                :done="step>4"
              >
                <q-card>
                  <q-card-section class="bg-primary text-white q-pa-xs">
                    <div class="text-subtitle2">Pais Destino</div>
                  </q-card-section>
                  <q-card-section>
                      <q-select :options="destinos" class="col-12 col-md-6" dense v-model="destino" label="Pais" outlined lazy-rules hint=""/>
                  </q-card-section>
                  <q-card-section v-if="destino.label!=''">
                    <div class="text-h6">Requisitos</div>
                    <div v-for="d in destino.grupo.requisitos " :key="d"  >{{d.nombre}}</div>
                  </q-card-section>
                </q-card>

                <q-stepper-navigation>
                  <q-btn @click="step = 5" icon="arrow_forward_ios" color="primary" label="Destino importador" />
                  <q-btn @click="step = 3" color="red" label="Back" class="q-ml-sm" icon="arrow_back_ios" />
                </q-stepper-navigation>

              </q-step>

              <q-step
                :name="5"
                title="5.- Examenes Veterinarios"
                icon="create new folder"
                :done="step>5" >

                <q-card>
                  <q-card-section class="bg-primary text-white q-pa-xs">
                    <div class="text-subtitle2">Datos de Examenes</div>
                  </q-card-section>
                  <q-separator />
                  <q-card-section>
                    <div class="row">
                      <div class="col-xs-12 col-md-4">
                        <div class="text-h6 flex flex-center">Examen Clinico</div>
                        <q-input class="col-12" dense v-model="pedido.veterinario" label="Nombre Veterinario" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                        <q-input class="col-12" dense v-model="pedido.descripcion" label="Observaciones" type="textarea" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                        <q-input class="col-12" dense v-model="pedido.fechaRevision" label="Fecha Revision" type="date" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="text-h6 flex flex-center">Examen Serologico</div>
                        <q-input class="col-12" dense v-model="pedido.veterinario2" label="Nombre Veterinario" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                        <q-input class="col-12" dense v-model="pedido.descripcion2" label="Observaciones" type="textarea" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                        <q-input class="col-12" dense v-model="pedido.fechaRevision2" label="Fecha Revision" type="date" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>

                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="text-h6 flex flex-center">Vacuna Antirrabica</div>
                        <q-input class="col-12" dense v-model="pedido.veterinario3" label="Nombre Veterinario" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                        <q-input class="col-12" dense v-model="pedido.descripcion3" label="Observaciones" type="textarea" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                        <q-input class="col-12" dense v-model="pedido.fechaRevision3" label="Fecha Vacuna" type="date" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>

                      </div>
                      <div class="col-12">
                        <div class="row">
                          <div>DOCUMENTOS</div>
                          <q-input square outlined v-model="documento.descripcion" label="Descripcion" />
                          <q-uploader url="http://localhost:4444/upload" style="max-width: 300px" />

                        </div>
                      </div>
                    </div>
                  </q-card-section>
                </q-card>

                <q-stepper-navigation>
                  <q-btn @click="step = 6" icon="arrow_forward_ios" color="primary" label="Medio de transporte  " />
                  <q-btn @click="step = 4" color="red" label="Atras" icon="arrow_back_ios" class="q-ml-sm" />
                </q-stepper-navigation>
              </q-step>

              <q-step
                :name="6"
                title="6.- Medio de Transporte"
                icon="create new folder"
                :done="step>6"
              >
              <q-card>
                <q-card-section class="bg-primary text-white q-pa-xs">
                  <div class="text-subtitle2">Datos de Transporte</div>
                </q-card-section>
                <q-separator />
                <q-card-section>
                  <div class="row">
                      <q-select class="col-xs-12 col-md-3" dense v-model="pedido.transporte" label="Metodo Transporte" :options="['Terrestre','Aereo','Maritimo','Multimodal']" outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                      <q-input class="col-xs-12 col-md-3" dense v-model="pedido.puertoSalida" label="Puerto Salida"  outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                      <q-input class="col-xs-12 col-md-3" dense v-model="pedido.lugarLlegada" label="Lugar de Llegada"  outlined lazy-rules :rules="[ val => val.length > 0 || 'Nombre es requerido' ]"/>
                  </div>
                </q-card-section>
              </q-card>
                <q-stepper-navigation>
                  <q-btn @click="step = 7" icon="arrow_forward_ios" color="primary" label="Pago servicio" />
                  <q-btn flat @click="step = 5" color="primary" label="Back" class="q-ml-sm" />
                </q-stepper-navigation>
              </q-step>

              <q-step
                :name="7"
                title="7.- Pago servicio"
                icon="create new folder"
                :done="step>7"
              >
              <div class="row">

                <div class="col-6">
                  <div class="col-9"><q-input v-model="nroliquidacion" type="text" label="Nro Liquidacion" /></div>
                  <div class="col-3"><q-btn color="green" icon="search" label="Consultar" @click="ConsultaLiquidacion" /></div>
                </div>
                <div class="col-6">
                    <div><b>Nro Liquidacion:</b> {{pedido.nroliquidacion}}</div>
                    <div><b>Fecha Pago:</b> {{pedido.fechapago}}</div>
                    <div><b>Monto:</b> {{pedido.importe}}</div>
                </div>
              </div>
                <q-stepper-navigation>
                  <q-btn @click="step = 8" icon="arrow_forward_ios" color="primary" label="Impresion" />
                  <q-btn flat @click="step = 6" color="primary" label="Back" class="q-ml-sm" />
                </q-stepper-navigation>
              </q-step>

              <q-step
                :name="8"
                title="8.- Impresion"
                icon="create new folder"
              >
              <div style="color:red">{{infomensaje}}</div>


                <q-stepper-navigation>
                  <q-btn color="teal" label="Imprimir" no-caps icon="print" type="submit"/>
                  <q-btn @click="step = 7" color="red" label="Atras" icon="arrow_back_ios" class="q-ml-sm" />
                </q-stepper-navigation>
              </q-step>
            </q-stepper>
          </q-form>

          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>

import {date} from 'quasar'
import jsPDF from "jspdf";
import $ from 'jquery'
import {useCounterStore} from "stores/example-store";

export default {
  name: `Solicitudes`,
  data () {
    return {
      pedidos: [],
      pedido:{},
      loading: false,
      show: false,
      filter:'',
      tipopersona: ['IMPORTADOR', 'TRAMITADOR', 'EXPORTADOR'],
      generos: ['MASCULINO', 'FEMENINO'],
      nroliquidacion:'',
      infomensaje:'',
      expedido:[
        'LP' ,
        'SC' ,
        'CB' ,
        'OR' ,
        'TJ' ,
        'BE' ,
        'PD' ,
        'PT' ,
        'CH' ,
      ],
      dept:[
        'BEN' ,
        'CBB' ,
        'CHU' ,
        'LPZ' ,
        'ORU' ,
        'PDO' ,
        'PTS' ,
        'SCZ' ,
        'TJA' ,
      ],
      group: 'NO',
      options: [
        {
          label: 'NO',
          value: 'NO'
        },
        {
          label: 'SI',
          value: 'SI'
        },
      ],
      dato:{},
      persona:{},
      user:{},
      mascota:{},
      certificado:{},
      exportador:false,
      importador:false,
      step: 1,
      store:useCounterStore(),
      destinos:[],
      destino:{},
      documento:[],
      dataliq:{},
      columns:[
        {label:'nombreExportador',name:'nombreExportador',field:'nombreExportador'},
        {label:'Codigo Masc',name:'chip',field:row=>row.mascota.chip},
        {label:'Tip Masc',name:'tipo',field:row=>row.mascota.tipo},
        {label:'Destino',name:'destino',field:row=>row.destino.nombre},
        {label:'Fecha',name:'fecha',field:'inicio'},
        {label:'observacion',name:'observacion',field:'observacion'},
        {label:'estado',name:'estado',field:'verificacion'},
        {label:'opcion',name:'opcion',field:'opcion'},
      ]
    }
  },
  computed: {
    // dato () {
    //   // return this.store.dato
    //   // return this.$store.state.dato
    // }
  },
  mounted(){
    this.pedidoGet()
    this.dato = this.store.dato
    this.cargarDestino();
    this.pedido.origen=this.store.user.ciudad
  },
  methods: {
    ConsultaLiquidacion(){
      this.dataliq={}
      if(this.nroliquidacion=='' || this.nroliquidacion==undefined){
        return false
      }
      this.pedido.importe=''
      this.pedido.nroliquidacion=''
      this.pedido.fechapago=''
      this.$api.post('validar/'+this.nroliquidacion).then((res) => {
        console.log(res.data)
        if(res.data){
          this.dataliq=res.data
          if(this.dataliq.datosServicio[0].cantidad!=1){
                this.$q.notify({
              message: 'Cantidad Erronea',
              color: 'red',
              position: 'top',
              timeout: 2000
            })

          }
          else{
            this.pedido.importe=this.dataliq.datosPago[0].montoPago
            this.pedido.nroliquidacion=this.dataliq.nroLiquidacion
            this.pedido.fechapago=date.formatDate( this.dataliq.datosPago[0].fechaPago,'YYYY-MM-DD')
          }

        }else{
          this.$q.notify({
          message: 'No existe Liquidacion',
          color: 'red',
          position: 'top',
          timeout: 2000
        })
        }
      })
      .catch(error => {
          console.log(error.response.data.message)
          this.$q.notify({
          message: error.response.data.message,
          color: 'red',
          position: 'top',
          timeout: 2000
        })
        })
    },
    crearSol(){
/*      if(this.store.user.tipo=='EXPORTADOR'){
        this.pedido.nombre=this.store.user.name+' '+this.store.user.apellidos
        this.pedido.documento=this.store.user.ci
        this.pedido.direccion=this.store.user.direccion
        this.pedido.celular=this.store.user.celular
        this.pedido.telefono=this.store.user.telefono
        this.pedido.correo=this.store.user.email
        this.pedido.importador='EXPORTADOR'
      }*/
      this.show = true
    },
    pedidoGet(){
      this.loading = true
      this.$api.get('pedido')
        .then(response => {
          this.loading = false
          this.pedidos = response.data
        })
        .catch(error => {
          console.log(error)
        })
    },
    cargarDestino(){
      this.$api.get('destino').then((res) => {
        res.data.forEach(r => {
          r.label=r.nombre
        });
        this.destinos=res.data
        this.destino={label:''}
      })

    },
    buscarMascota(){
      let chip=this.mascota.chip
      this.$api.get('buscarMascota/'+chip).then((res) => {
        if(res.data){
          this.mascota=res.data
        }
        else
        {
          this.mascota.id=''
          this.mascota.nombre=''
          this.mascota.raza=''
          this.mascota.rasgos=''
          this.mascota.edad=''
          this.mascota.sexo=''
          this.mascota.tipo=''
          this.mascota.localidad=''
          this.mascota.fechanac=''

        }
      })
    },

    buscarExportador(){
      let ci=this.pedido.documentoExportador
      this.$api.get('buscarUser/'+ci).then((res) => {
        if(res.data){
          this.exportador=true
          this.pedido.documentoExportador=ci
          this.pedido.nombreExportador=res.data.name + ' '+ res.data.apellidos
          this.pedido.direccionExportador=res.data.direccion
          this.pedido.celularExportador=res.data.celular
          this.pedido.correoExportador=res.data.email
        }
        else
        {
          this.exportador=false
          this.pedido.documentoExportador=ci
          this.pedido.nombreExportador=''
          this.pedido.direccionExportador=''
          this.pedido.celularExportador=''
          this.pedido.correoExportador=''

        }
      })
    },

    buscarImportador(){
      let ci=this.pedido.documentoImportador
      this.$api.get('buscarUser/'+ci).then((res) => {
        if(res.data){
          this.importador=true
          this.pedido.documentoImportador=ci
          this.pedido.nombreImportador=res.data.name + ' '+ res.data.apellidos
          this.pedido.direccionImportador=res.data.direccion
          this.pedido.celularImportador=res.data.celular
          this.pedido.correoImportador=res.data.email
        }
        else
        {
          this.importador=false
          this.pedido.documentoImportador=ci
          this.pedido.nombreImportador=''
          this.pedido.direccionImportador=''
          this.pedido.celularImportador=''
          this.pedido.correoImportador=''

        }
      })
    },
    buscarUser(){
      let ci=this.user.ci
      this.$api.get('buscarUser/'+ci).then((res) => {
        if(res.data){
          this.user=res.data
        }
        else
        {
          this.user.id=''
          this.user.name=''
          this.user.expedido=''
          this.user.apellidos=''
          this.user.genero=''
          this.user.direccion=''
          this.user.tipo=''
          this.user.email=''
          this.user.celular=''

        }
      })
    },
    insertar(){
      //this.persona.estado='OK'
      //this.persona.extension= this.persona.expedido.value
      // this.cerificado={fechaSolicitud:date.formatDate( Date.now(),'YYYY-MM-DD'),fechaEmision:date.formatDate( Date.now(),'YYYY-MM-DD'),fechaConclusion:date.formatDate( Date.now(),'YYYY-MM-DD'),
      //codigo:'2'}
      /*axios({
        method: 'post',
        url: API_URL + 'ApiPe/personas/',
        data: this.persona,
        auth: {
          username: 'nilton',
          password: '123qwe'
        }
      }).then((response) => {
        console.log(response.data)
      }).catch((error) => {
        console.log(error)
      })*/
      this.infomensaje=''
      if(this.pedido.origen=='' || this.pedido.origen==undefined){
        this.infomensaje+='Debe Seleccionar el origen de tramite; '
            return false
      }
      if (this.pedido.documentoExportador=='' || this.pedido.documentoExportador==undefined ||
          this.pedido.nombreExportador=='' || this.pedido.nombreExportador==undefined ||
          this.pedido.direccionExportador=='' || this.pedido.direccionExportador==undefined ||
          this.pedido.celularExportador=='' || this.pedido.celularExportador==undefined ||
          this.pedido.correoExportador=='' || this.pedido.correoExportador=='')
          {
            this.infomensaje+='Debe llenar los campos de exportador; '
            return false
          }
          if (this.pedido.nombreImportador=='' || this.pedido.nombreImportador==undefined ||
          this.pedido.direccionImportador=='' || this.pedido.direccionImportador==undefined ||
          this.pedido.celularImportador=='' || this.pedido.celularImportador==undefined ||
          this.pedido.correoImportador=='' || this.pedido.correoImportador=='')
          {
            this.infomensaje+='Debe llenar los campos de importador; '
            return false
          }
          if(this.mascota.chip=='' || this.mascota.chip==undefined ||
             this.mascota.nombre=='' || this.mascota.nombre==undefined ||
              this.mascota.raza=='' || this.mascota.raza==undefined ||
              this.mascota.rasgos=='' || this.mascota.rasgos==undefined ||
              this.mascota.fechanac=='' || this.mascota.fechanac==undefined ||
              this.mascota.sexo=='' || this.mascota.sexo==undefined ||
              this.mascota.tipo=='' || this.mascota.tipo==undefined ||
              this.mascota.localidad=='' || this.mascota.localidad==undefined){
              this.infomensaje+='Debe llenar los campos de Mascota; '
                return false
              }
          if(this.destino=={}){
            this.infomensaje+='Debe Seleccionar pais de Destino; '
                return false
          }
          if(
            this.pedido.veterinario=='' ||this.pedido.veterinario==undefined||
            this.pedido.descripcion=='' || this.pedido.descripcion==undefined ||
            this.pedido.fechaRevision=='' || this.pedido.fechaRevision==undefined ||
            this.pedido.veterinario2=='' ||this.pedido.veterinario2==undefined||
            this.pedido.descripcion2=='' || this.pedido.descripcion2==undefined ||
            this.pedido.fechaRevision2=='' || this.pedido.fechaRevision2==undefined ||
            this.pedido.veterinario3=='' ||this.pedido.veterinario3==undefined||
            this.pedido.descripcion3=='' || this.pedido.descripcion3==undefined ||
            this.pedido.fechaRevision3=='' || this.pedido.fechaRevision3==undefined
            ){
              this.infomensaje+='Debe ingresar los datos Examenes Veterinarios; '
                return false
          }

          if(this.pedido.transporte=='' || this.pedido.transporte==undefined||
            this.pedido.lugarLlegada=='' || this.pedido.lugarLlegada== undefined||
            this.pedido.puertoSalida=='' || this.pedido.puertoSalida==undefined){
              this.infomensaje+='Debe ingresar los datos de transporte y origen destino; '
                return false
            }
          if(this.pedido.importe=='' || this.pedido.importe==undefined||
            this.pedido.fechapago=='' || this.pedido.fechapago ||
            this.pedido.nroliquidacion=='' || this.pedido.nroliquidacion==undefined||
            this.dataliq=={}){
              this.infomensaje+='Debe ingresar nro Liquidacion valido ; '
                return false
          }

      this.$api.post('mascota',this.mascota).then((res) => {
        console.log(res.data)
        this.pedido.mascota_id=res.data.id
        this.pedido.destino_id=this.destino.id
        this.pedido.importe=0
        this.$api.post('pedido',this.pedido).then((response) => {
          this.pedido={}
          this.pedidoGet()
          this.pedido.origen=this.store.user.ciudad

          this.show=false


        })

      })

    },
    imprimir(){



      const doc = new jsPDF(null,null,'legal');
      doc.setFont("helvetica",'bold');
      doc.setFontSize(10);
      doc.text(["SERVICIO NACIONAL DE SANIDAD AGROPECUARIA","E INOCUIDAD ALIMENTARIA",`"SENASAG"`], 110, 10,'center');
      doc.text("LEY NACIONAL 2061", 40, 30,'center');
      doc.text("No. CERTIFICADO    .............", 160, 30);
      doc.text("J.D.    .............", 185, 35);
      doc.setFontSize(12);
      doc.text("CERTIFICADO ZOOSANITARIO PARA ANIMALES DE COMPAÑIA (PERROS Y GATOS)", 110, 45,'center');
      doc.rect(10, 39, 200, 10);

      doc.setFontSize(10);
      doc.setFont("helvetica",'normal');
      doc.rect(10, 52, 40, 30);
      doc.rect(50, 52, 40, 30);
      doc.rect(90, 52, 40, 30);
      doc.rect(130, 52, 40, 30);
      doc.rect(170, 52, 40, 30);

      doc.text("Pais", 12, 57);
      doc.text([`N° de Certificado`,`del COMVETBOL`], 52, 57);
      doc.text('Departamento', 92, 57);
      doc.text(['Nombre y direccion del',' Destinatario'], 132, 57);
      doc.text('Pais destino:', 172, 57);

      doc.rect(10, 82, 40, 30);
      doc.rect(50, 82, 40, 30);
      doc.rect(90, 82, 40, 30);
      doc.rect(130, 82, 40, 30);
      doc.rect(170, 82, 40, 30);

      doc.text("Especi/Raza", 12, 87);
      doc.text([`Fecha y lugar de Nac.`], 52, 87);
      doc.text(['Tipo/color de pelage/','Signos particulares'], 92, 87);
      doc.text(['Nombre y direccion del',' Exportador'], 132, 87);
      doc.text('Pais de salida:', 172, 87);

      doc.setFont("helvetica",'bold');
      doc.setFontSize(12);
      doc.text("DATOS RELATIVOS A LA IDENTIFICACION DE LOS ANIMALES", 10, 118);
      doc.setFont("helvetica",'normal');
      doc.setFontSize(10);


      doc.rect(10, 122, 66, 40);
      doc.rect(76, 122, 66, 40);
      doc.rect(142, 122, 68, 40);
      doc.text(['Vacunacion Antirabica/fecha/lab N lote','/fecha/expiracion nombre veterinario:'], 12, 127);
      doc.text(['Examen Serologico/Periodo de Validez'], 78, 127);
      doc.text(['Examen Clinico/Fecha/Nombre ','del veterinario'], 144, 127);

      doc.setFont("helvetica",'bold');
      doc.setFontSize(12);
      doc.text("DETALLE DE LA MERCADERIA", 10, 168);
      doc.setFont("helvetica",'normal');
      doc.setFontSize(10);

      doc.rect(10, 172, 200, 10);
      doc.rect(10, 182, 200, 10);
      doc.rect(10, 192, 200, 20);

      doc.text("Destino de los animales", 12, 177);
      doc.text("Naturaleza e identificacion de transporte y acondicionamiento:", 12, 187);
      doc.text("NOTA:", 12, 197);

      doc.setFont("helvetica",'bold');
      doc.rect(10, 217, 200, 40);
      doc.text("El veterinario oficial infrascrito certifica que:", 12, 222);

      doc.setFont("helvetica",'normal');

      let text=`Para el desplazamiento de internaciones de canes y felinos, únicamente se autoriza el uso de vacuna a base de virus inactivos:
En caso de primera vacunación, el animal debe estar vacunado entre 6 mese y un año antes de ser introducido al país importador y administrada, como mínimo a los 3 meses de edad.
Debe haber sido sometido, de 3 a 24 mese antes, a una prueba de titulación de anticuerpos neutralizantes y su suero debe contener por lo menos 0.5 UI
El examen clínico deberá llevarse a cabo en el termino de 28 horas anteriores y antes del embarque
`
      doc.text(text,12, 228 , {
        maxWidth: 190,
        align: 'justify'
      });

      doc.rect(10, 262, 100, 45);
      doc.rect(110, 262, 100, 45);

      text=`Este permiso está supeditado al control del servicio nacional de sanidad agropecuaria e inocuidad alimentaria SENASAG a cuyo efecto el importador deberá solicitar la inspección correspondiente, requisito sin el cual. la oficina de aduana no permitirá el ingreso de los animales de compañía.`
      doc.text(text,12, 267 , {
        maxWidth: 90,
        align: 'justify'
      });

      doc.setFontSize(12);
      doc.text(['SELLLO','FIRMA FUNCIONARIO AUTORIZADO'], 160, 290,'center');
      doc.text('Lugar y fecha', 115, 303);

      // $( '#docpdf' ).attr('src', doc.output('datauristring'));
      doc.save("Certificado "+date.formatDate(Date.now(),'DD-MM-YYYY')+".pdf");
      // window.open(doc.output('bloburl'), '_blank');
    }
  }
}
</script>
