<template>
  <q-page>
    <div class="row">
      <div class="col-12">
        <q-card>
          <q-card-section v-if="pedidos.length==0">
            <div class="text-center">
              <q-icon name="o_takeout_dining" size="350px" color="grey" />
              <div class="text-h5 text-grey">No hay solicitudes</div>
            </div>
          </q-card-section>
          <q-card-section v-else>
            <q-table :rows="pedidos" :columns="columns">
              <template v-slot:top-right>
                <q-input outlined dense debounce="300" v-model="filter" placeholder="Buscar" :filter="filter">
                  <template v-slot:append>
                    <q-icon name="search" />
                  </template>
                </q-input>
              </template>
              <template v-slot:body-cell-opcion="props">
                <q-td :props="props">
                  <q-btn v-if="props.row.estado=='pendiente'" color="primary" dense icon="visibility" label="Verificar"  no-caps  @click="solicitud=props.row; dialogDatos=true; "/>
                  <q-btn v-if="props.row.estado=='aprobado'" color="red" dense icon="delete" label="Anular"  no-caps  @click="anular(props.row) "/>
                  <q-btn v-if="props.row.estado=='aprobado'" color="accent" dense icon="edit" label="Reposicion"  no-caps  @click="rectificar(props.row)"/>
                </q-td>
              </template>
              <template v-slot:body-cell-estado="props">
                <q-td auto-width :props="props">
                  <q-badge :color="props.row.estado=='pendiente'?'orange':props.row.estado=='aprobado'?'green':'primary'" :label="props.row.estado" />
                </q-td>
              </template>

          </q-table>

            <q-dialog v-model="dialogRectificar" >
              <q-card style="min-width: 350px">
                <q-card-section>
                  <div class="text-h6">RECTIFICAR</div>
                </q-card-section>
        
                <q-card-section class="q-pt-none">
                  <!--<q-toggle v-model="ampliar" false-value="NO" true-value="SI" :label="ampliar+' Ampliar fecha'"/>-->
                  <q-select square outlined v-model="tiporectifica" :options="['TECNICO','PEDIDO','AMPLIAR']" label="tipo Rectifiacion" />
                  
                  <q-input dense v-model="motivo" autofocus outlined label="Motivo" />
                </q-card-section>
        
                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Cancelar" v-close-popup  color="red"/>
                  <q-btn flat label="Rectificar" @click="enviarRectificar" color="green"/>
                </q-card-actions>
              </q-card>
            </q-dialog>

            <q-dialog v-model="dialogDatos" full-width="">
              <q-card>
              <q-card-section>
                <div class="text-h6">Solicitud {{solicitud.origen}} - {{solicitud.codigo}} FECHA:{{solicitud.inicio}}</div>
              </q-card-section>
              <q-card-section>
                <div class="row">
                  <div class="col-4">
                    <div class="col-12 flex flex-center text-bold">DATOS EXPORTADOR</div>
                    <table class="tabla">                      
                    <tr><th>documento</th><td> {{solicitud.documentoExportador}}</td></tr>
                    <tr><th>nombre</th><td> {{solicitud.nombreExportador}}</td></tr>
                    <tr><th>celular</th><td> {{solicitud.celularExportador}}</td></tr>
                    <tr><th>direccion</th><td> {{solicitud.direccionExportador}}</td></tr>
                    <tr><th>correo</th><td> {{solicitud.correoExportador}}</td></tr>
                    </table>
                  </div>
                  <div class="col-4">
                    <div class="col-12 flex flex-center text-bold">DATOS IMPORTADOR</div>
                    <table class="tabla">
                    <tr><th>documento</th><td> {{solicitud.documentoImportador}}</td></tr>
                    <tr><th>nombre</th><td> {{solicitud.nombreImportador}}</td></tr>
                    <tr><th>celular</th><td> {{solicitud.celularImportador}}</td></tr>
                    <tr><th>direccion</th><td> {{solicitud.direccionImportador}}</td></tr>
                    <tr><th>correo</th><td> {{solicitud.correoImportador}}</td></tr>
                    </table>
                  </div>
                  <div class="col-4">
                    <div class="col-12 flex flex-center text-bold">DATOS MASCOTA</div>
                    <table class="tabla">
                    <tr><th>Codigo</th><td> {{solicitud.mascota.chip}}</td></tr>
                    <tr><th>Nombre</th><td> {{solicitud.mascota.nombre}}</td></tr>
                    <tr><th>Raza</th><td> {{solicitud.mascota.raza}}</td></tr>
                    <tr><th>Rasgos</th><td> {{solicitud.mascota.rasgos}}</td></tr>
                    <tr><th>Fecha Nac</th><td> {{solicitud.mascota.fechanac}}</td></tr>
                    <tr><th>Sexo</th><td> {{solicitud.mascota.sexo}}</td></tr>
                    <tr><th>Tipo</th><td> {{solicitud.mascota.tipo}}</td></tr>
                    <tr><th>Localidad Nac</th><td> {{solicitud.mascota.localidad}}</td></tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                  <div class="col-12 flex flex-center text-bold">EXAMENES VETERINARIOS</div>
                  <table class="tabla">
                    
                  <tr><th>Examen Clinico</th><td> {{solicitud.fechaRevision}}</td><td>{{solicitud.veterinario}}</td><td> {{solicitud.descripcion}} </td><td><q-btn color="green" icon="download" dense @click="descarga(solicitud.documento)" /></td></tr>
                  <tr><th>Examen Serologico</th><td> {{solicitud.fechaRevision2}} </td><td>{{solicitud.veterinario2}} </td><td> {{solicitud.descripcion2}} </td><td><q-btn color="green" icon="download" dense @click="descarga(solicitud.documento2)" v-if="solicitud.documento2!=null"/></td></tr>
                  <tr><th>Examen Antirrabico</th><td> {{solicitud.fechaRevision3}} </td><td>{{solicitud.veterinario3}} </td><td> {{solicitud.descripcion3}}</td><td><q-btn color="green" icon="download" dense @click="descarga(solicitud.documento3)" /> </td></tr>
                  </table>
                </div>
                <div class="col-4">
                  <div class="col-12 flex flex-center text-bold">DATOS DE LIQUIDACION</div>
                  <table class="tabla">

                  <tr><th>Nro</th><td> {{solicitud.pagos[0].nroliquidacion}}</td></tr>
                  <tr><th>Fecha</th><td> {{solicitud.pagos[0].fecha}}</td></tr>
                  <tr><th>Monto</th><td> {{solicitud.pagos[0].costo}}</td></tr>
                  <tr><th>No Servicio</th><td> {{solicitud.pagos[0].servicio}}</td></tr>
                  <tr><th>Servicio</th><td> {{solicitud.pagos[0].nombre}}</td></tr>
                  <tr><th>Forma Pago</th><td> {{solicitud.pagos[0].forma}}</td></tr>
                  <tr><th>Num Transaccion</th><td> {{solicitud.pagos[0].transaccion}}</td></tr>
                </table>

                </div>
                <div class="col-4">
                  <div class="col-12 flex flex-center text-bold">DATOS DE  DESTINO Y TRANSPORTE</div>
                  <table class="tabla">
                  <tr><th>Destino</th><td> {{solicitud.destino.nombre}}</td></tr>
                  <tr><th>Transporte</th><td> {{solicitud.transporte}}</td></tr>
                  <tr><th>Puerto Salida</th><td> {{solicitud.puertoSalida}}</td></tr>
                  <tr><th>Luegar de LLegada</th><td> {{solicitud.lugarLlegada}}</td></tr>
                </table>

                </div>
              </div>
              <div class="col-12">
                <q-input outlined v-model="solicitud.observacion" label="Observacion" />
              </div>

              </q-card-section>
              <q-card-actions align="right">
                <q-btn :loading="loading" label="APROBAR" icon="check" color="green"  @click="aprobar"/>
                <q-btn :loading="loading" label="OBSERVAR" icon="cancel" color="red"  @click="observar"/>
                <q-btn :loading="loading" label="CANCELAR" icon="block" color="teal" v-close-popup />
              </q-card-actions>
              </q-card>
            </q-dialog>

          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>

import {date} from 'quasar'
import jsPDF from "jspdf";
import $ from 'jquery'
import {useCounterStore} from "stores/example-store";

export default {
  name: `Verificacion`,
  data () {
    return {
      pedidos: [],
      solicitud:{},
      dialogDatos:false,
      tiporectifica:'AMPLIAR',
      pedido:{
        fechaRevision:date.formatDate(new Date(), 'YYYY-MM-DD'),
        fechaRevision2:date.formatDate(new Date(), 'YYYY-MM-DD'),
        fechaRevision3:date.formatDate(new Date(), 'YYYY-MM-DD'),
      },
      loading: false,
      show: false,
      filter:'',
      foto1:'',
      foto2:'',
      foto3:'',
      tipopersona: ['IMPORTADOR', 'TRAMITADOR', 'EXPORTADOR'],
      generos: ['MASCULINO', 'FEMENINO'],
      nroliquidacion:'',
      infomensaje:'',
      expedido:[
        'LP' ,
        'SC' ,
        'CB' ,
        'OR' ,
        'TJ' ,
        'BE' ,
        'PD' ,
        'PT' ,
        'CH' ,
      ],
      dept:[
        'BEN' ,
        'CBB' ,
        'CHU' ,
        'LPZ' ,
        'ORU' ,
        'PDO' ,
        'PTS' ,
        'SCZ' ,
        'TJA' ,
      ],
      group: 'NO',
      options: [
        {
          label: 'NO',
          value: 'NO'
        },
        {
          label: 'SI',
          value: 'SI'
        },
      ],
      dato:{},
      persona:{},
      user:{},
      motivo:'',
      dialogRectificar:false,
      solicitud2:{},
      mascota:{
        fechanac:date.formatDate(new Date(), 'YYYY-MM-DD'),
      },
      certificado:{},
      exportador:false,
      importador:false,
      step: 1,
      store:useCounterStore(),
      destinos:[],
      destino:{},
      documento:[],
      puertos:['Aeropuerto Sucre',
        'Aeropuerto El Alto',
        'Charaña',
        'Desaguadero',
        'Kasani',
        'Puerto Acosta',
        'Aeropuerto Cochabamba',
        'Pisiga',
        'Tambo Quemado',
        'Villazon',
        'Apacheta',
        'Avaroa',
        'Aeropuerto Tarija',
        'Yacuiba','Picad Sucre','Bermejo'
        ,'Cañada Oruro','Aeropuerto Viru-Viru',
        'Aeropuerto Puerto Suarez','Puerto Suarez',
        'Arroyo Concepcion','San Matias',
        'San Vicente','Guayaramerin','Aeropuerto Cobija',
        'Cobija'],
      dataliq:{},
      columns:[
        {label:'Opcion',name:'opcion',field:'opcion'},
        {label:'Estado',name:'estado',field:'verificacion'},
        {label:'Nombre Exportador',name:'nombreExportador',field:'nombreExportador'},
        {label:'Codigo Masc',name:'chip',field:row=>row.mascota.chip},
        {label:'Tip Masc',name:'tipo',field:row=>row.mascota.tipo},
        {label:'Destino',name:'destino',field:row=>row.destino.nombre},
        {label:'Fecha',name:'fecha',field:'inicio'},
        {label:'Observacion',name:'observacion',field:'observacion'},
      ],
      url:process.env.API,
    }
  },
  computed: {
    // dato () {
    //   // return this.store.dato
    //   // return this.$store.state.dato
    // }
  },
  mounted(){
    this.pedidoGet()
    // this.dato = this.store.dato
    this.cargarDestino();
    if (this.store.user.tipo=='IT' || this.store.user.tipo=='ET'){
      this.pedido.origen=this.store.user.ciudad
    }
  },
  methods: {
    aprobar(){
      this.loading=true
      this.$api.post('aprobar',this.solicitud).then((res) => {
        // console.log(res.data);
        this.dialogDatos=false
        // this.loading=false
        this.$q.notify({
              message: 'Aprobado Solicitud',
              color: 'green',
              position: 'top',
              timeout: 2000
            })
        this.pedidoGet()
      })
    },
    observar(){
      this.loading=true
      this.$api.post('observar',this.solicitud).then((res) => {
        // this.loading=false
        this.dialogDatos=false
        this.$q.notify({
              message: 'Observado Solicitud',
              color: 'green',
              position: 'top',
              timeout: 2000
            })
        this.pedidoGet()
      })
    },
    descarga(lib){
              // console.log(lib)
              var fileName=this.url+'../imagen/'+lib;
              window.open(fileName, 'Download');
        },
    ConsultaLiquidacion(){
      this.dataliq={}
      if(this.nroliquidacion=='' || this.nroliquidacion==undefined){
        return false
      }
      this.pedido.importe=''
      this.pedido.nroliquidacion=''
      this.pedido.fechapago=''
      this.loading = true
      this.$api.post('validar',{'nroliquidacion':this.nroliquidacion,'servicio':servicio}).then((res) => {
         console.log(res.data)
        if(res.data){
          this.dataliq=res.data
          if(this.dataliq.datosServicio[0].cantidad!=1){
            this.$q.notify({
              message: 'Cantidad Erronea',
              color: 'red',
              position: 'top',
              timeout: 2000
            })

          }
          else{
            this.pedido.importe=this.dataliq.datosPago[0].montoPago
            this.pedido.nroliquidacion=this.dataliq.nroLiquidacion
            this.pedido.fechapago=date.formatDate( this.dataliq.datosPago[0].fechaPago,'YYYY-MM-DD')
          }

        }else{
          this.$q.notify({
            message: 'No existe Liquidacion',
            color: 'red',
            position: 'top',
            timeout: 2000
          })
        }
      })
        .catch(error => {
          console.log(error.response.data.message)
          this.$q.notify({
            message: error.response.data.message,
            color: 'red',
            position: 'top',
            timeout: 2000
          })
        }).finally(() => {
        this.loading = false
      })
    },
    crearSol(){
      /*      if(this.store.user.tipo=='EXPORTADOR'){
              this.pedido.nombre=this.store.user.name+' '+this.store.user.apellidos
              this.pedido.documento=this.store.user.ci
              this.pedido.direccion=this.store.user.direccion
              this.pedido.celular=this.store.user.celular
              this.pedido.telefono=this.store.user.telefono
              this.pedido.correo=this.store.user.email
              this.pedido.importador='EXPORTADOR'
            }*/
      this.show = true
    },
    pedidoGet(){
      this.loading = true
      this.$api.get('pedido')
        .then(response => {
          console.log(response.data)
          this.loading = false
          this.pedidos = response.data
        })
        .catch(error => {
          console.log(error)
        })
    },
    cargarDestino(){
      this.$api.get('destino').then((res) => {
        res.data.forEach(r => {
          r.label=r.nombre
        });
        this.destinos=res.data
        this.destino={label:''}
      })

    },
    buscarMascota(){
      let chip=this.mascota.chip

      this.mascota.id=''
      this.mascota.nombre=''
      this.mascota.raza=''
      this.mascota.rasgos=''
      this.mascota.edad=''
      this.mascota.sexo=''
      this.mascota.tipo=''
      this.mascota.localidad=''
      this.mascota.fechanac=date.formatDate(new Date(), 'YYYY-MM-DD')
      if (chip!=''){
        this.$api.get('buscarMascota/'+chip).then((res) => {
          if(res.data){
            // this.mascota=res.data
            this.mascota.id=res.data.id
            this.mascota.nombre=res.data.nombre
            this.mascota.raza=res.data.raza
            this.mascota.rasgos=res.data.rasgos
            // this.mascota.edad=res.data.edad
            this.mascota.sexo=res.data.sexo
            this.mascota.tipo=res.data.tipo
            this.mascota.localidad=res.data.localidad
            this.mascota.fechanac=res.data.fechanac
          }
        })
      }

    },

    buscarExportador(){
      // let ci=this.pedido.documentoExportador
      this.exportador=false
      // this.pedido.documentoExportador=ci
      this.pedido.nombreExportador=''
      this.pedido.direccionExportador=''
      this.pedido.celularExportador=''
      this.pedido.correoExportador=''
      this.$api.get('buscarUser/'+this.pedido.documentoExportador).then((res) => {
        if(res.data){
          this.exportador=true
          // this.pedido.documentoExportador=ci
          this.pedido.nombreExportador=res.data.name + ' '+ res.data.apellidos
          this.pedido.direccionExportador=res.data.direccion
          this.pedido.celularExportador=res.data.celular
          this.pedido.correoExportador=res.data.email
        }
        else
        {
          this.exportador=false
          // this.pedido.documentoExportador=ci
          this.pedido.nombreExportador=''
          this.pedido.direccionExportador=''
          this.pedido.celularExportador=''
          this.pedido.correoExportador=''
        }
      })
    },

    buscarImportador(){
      // let ci=this.pedido.documentoImportador
      this.importador=false
      // this.pedido.documentoImportador=ci
      this.pedido.nombreImportador=''
      this.pedido.direccionImportador=''
      this.pedido.celularImportador=''
      this.pedido.correoImportador=''
      this.$api.get('buscarUser/'+this.pedido.documentoImportador).then((res) => {
        if(res.data){
          this.importador=true
          // this.pedido.documentoImportador=ci
          this.pedido.nombreImportador=res.data.name + ' '+ res.data.apellidos
          this.pedido.direccionImportador=res.data.direccion
          this.pedido.celularImportador=res.data.celular
          this.pedido.correoImportador=res.data.email
        }
        // else
        // {
        //   this.importador=false
        //   this.pedido.documentoImportador=ci
        //   this.pedido.nombreImportador=''
        //   this.pedido.direccionImportador=''
        //   this.pedido.celularImportador=''
        //   this.pedido.correoImportador=''
        //
        // }
      })
    },
    buscarUser(){
      let ci=this.user.ci
      this.$api.get('buscarUser/'+ci).then((res) => {
        if(res.data){
          this.user=res.data
        }
        else
        {
          this.user.id=''
          this.user.name=''
          this.user.expedido=''
          this.user.apellidos=''
          this.user.genero=''
          this.user.direccion=''
          this.user.tipo=''
          this.user.email=''
          this.user.celular=''

        }
      })
    },
    insertar(){
      //this.persona.estado='OK'
      //this.persona.extension= this.persona.expedido.value
      // this.cerificado={fechaSolicitud:date.formatDate( Date.now(),'YYYY-MM-DD'),fechaEmision:date.formatDate( Date.now(),'YYYY-MM-DD'),fechaConclusion:date.formatDate( Date.now(),'YYYY-MM-DD'),
      //codigo:'2'}
      /*axios({
        method: 'post',
        url: API_URL + 'ApiPe/personas/',
        data: this.persona,
        auth: {
          username: 'nilton',
          password: '123qwe'
        }
      }).then((response) => {
        console.log(response.data)
      }).catch((error) => {
        console.log(error)
      })*/
      this.infomensaje=''
      if(this.pedido.origen=='' || this.pedido.origen==undefined){
        this.infomensaje+='Debe Seleccionar el origen de tramite; '
        return false
      }
      if (this.pedido.documentoExportador=='' || this.pedido.documentoExportador==undefined ||
        this.pedido.nombreExportador=='' || this.pedido.nombreExportador==undefined ||
        this.pedido.direccionExportador=='' || this.pedido.direccionExportador==undefined ||
        this.pedido.celularExportador=='' || this.pedido.celularExportador==undefined ||
        this.pedido.correoExportador=='' || this.pedido.correoExportador=='')
      {
        this.infomensaje+='Debe llenar los campos de exportador; '
        return false
      }
      if (this.pedido.nombreImportador=='' || this.pedido.nombreImportador==undefined ||
        this.pedido.direccionImportador=='' || this.pedido.direccionImportador==undefined ||
        this.pedido.celularImportador=='' || this.pedido.celularImportador==undefined ||
        this.pedido.correoImportador=='' || this.pedido.correoImportador=='')
      {
        this.infomensaje+='Debe llenar los campos de importador; '
        return false
      }
      if(this.mascota.chip=='' || this.mascota.chip==undefined ||
        this.mascota.nombre=='' || this.mascota.nombre==undefined ||
        this.mascota.raza=='' || this.mascota.raza==undefined ||
        this.mascota.rasgos=='' || this.mascota.rasgos==undefined ||
        this.mascota.fechanac=='' || this.mascota.fechanac==undefined ||
        this.mascota.sexo=='' || this.mascota.sexo==undefined ||
        this.mascota.tipo=='' || this.mascota.tipo==undefined ||
        this.mascota.localidad=='' || this.mascota.localidad==undefined){
        this.infomensaje+='Debe llenar los campos de Mascota; '
        return false
      }
      if(this.destino=={}){
        this.infomensaje+='Debe Seleccionar pais de Destino; '
        return false
      }
      if(
        this.pedido.veterinario=='' ||this.pedido.veterinario==undefined||
        this.pedido.descripcion=='' || this.pedido.descripcion==undefined ||
        this.pedido.fechaRevision=='' || this.pedido.fechaRevision==undefined ||
        this.pedido.veterinario2=='' ||this.pedido.veterinario2==undefined||
        this.pedido.descripcion2=='' || this.pedido.descripcion2==undefined ||
        this.pedido.fechaRevision2=='' || this.pedido.fechaRevision2==undefined ||
        this.pedido.veterinario3=='' ||this.pedido.veterinario3==undefined||
        this.pedido.descripcion3=='' || this.pedido.descripcion3==undefined ||
        this.pedido.fechaRevision3=='' || this.pedido.fechaRevision3==undefined
      ){
        this.infomensaje+='Debe ingresar los datos Examenes Veterinarios; '
        return false
      }
      if(this.foto1=='' || this.foto1==undefined ||
        this.foto2=='' || this.foto2==undefined ||
        this.foto3=='' || this.foto3==undefined){
        this.infomensaje+="Debe Subir Archivo o imagen del Examen Veterinario"
        return false
      }

      if(this.pedido.transporte=='' || this.pedido.transporte==undefined||
        this.pedido.lugarLlegada=='' || this.pedido.lugarLlegada== undefined||
        this.pedido.puertoSalida=='' || this.pedido.puertoSalida==undefined){
        this.infomensaje+='Debe ingresar los datos de transporte y origen destino; '
        return false
      }
      if(this.pedido.importe=='' || this.pedido.importe==undefined||
        this.pedido.fechapago=='' || this.pedido.fechapago ==undefined||
        this.pedido.nroliquidacion=='' || this.pedido.nroliquidacion==undefined
      ){
        this.infomensaje+='Debe ingresar nro Liquidacion valido ; '
        return false
      }
      this.pedido.documento=this.foto1
      this.pedido.documento2=this.foto2
      this.pedido.documento3=this.foto3
      this.loading=true
      this.$api.post('mascota',this.mascota).then((res) => {
        // console.log(res.data)
        this.pedido.mascota_id=res.data.id
        this.pedido.destino_id=this.destino.id
        this.$api.post('pedido',this.pedido).then((response) => {
          this.pedido={}
          this.foto1=''
          this.foto2=''
          this.foto3=''
          this.pedidoGet()
          this.show=false
        })
      }).catch((error) => {
        this.$q.notify({
          message: error.response.data.message,
          color: 'negative',
          position: 'top',
          timeout: 2000
        })
      }).finally(() => {
        this.loading = false
      })
    },
    onRejected (rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} el archivo paso las restricciones de validación`
      })
    },
    uploadFile1 (file) {
      this.loading=true
      let dialog = this.$q.dialog({
        message: 'Subiendo... 0%',
      })
      let percentage = 0
      const fd = new FormData()
      fd.append('file', file[0])
      return new Promise((resolve, reject) => {
        this.$api.post('upload',
          fd,
          {
            headers: { 'Content-Type': 'multipart/form-data' },
            onUploadProgress: (progressEvent) => {
              percentage = Math.round((progressEvent.loaded / progressEvent.total) * 100)
              dialog.update({
                message: `Subiendo... ${percentage}%`
              })
              if (percentage>=100){
                dialog.hide()
              }
            }
          })
          .then(res => {
            this.foto1=res.data
            this.loading=false
            resolve(file)
          })
          .catch(err => reject(err))
      })
    },
    uploadFile2 (file) {
      this.loading=true
      let dialog = this.$q.dialog({
        message: 'Subiendo... 0%',
      })
      let percentage = 0
      const fd = new FormData()
      fd.append('file', file[0])
      return new Promise((resolve, reject) => {
        this.$api.post('upload',
          fd,
          {
            headers: { 'Content-Type': 'multipart/form-data' },
            onUploadProgress: (progressEvent) => {
              percentage = Math.round((progressEvent.loaded / progressEvent.total) * 100)
              dialog.update({
                message: `Subiendo... ${percentage}%`
              })
              if (percentage>=100){
                dialog.hide()
              }
            }
          })
          .then(res => {
            this.foto2=res.data
            this.loading=false
            resolve(file)
          })
          .catch(err => reject(err))
      })
    },
    uploadFile3 (file) {
      this.loading=true
      let dialog = this.$q.dialog({
        message: 'Subiendo... 0%',
      })
      let percentage = 0
      const fd = new FormData()
      fd.append('file', file[0])
      return new Promise((resolve, reject) => {
        this.$api.post('upload',
          fd,
          {
            headers: { 'Content-Type': 'multipart/form-data' },
            onUploadProgress: (progressEvent) => {
              percentage = Math.round((progressEvent.loaded / progressEvent.total) * 100)
              dialog.update({
                message: `Subiendo... ${percentage}%`
              })
              if (percentage>=100){
                dialog.hide()
              }
            }
          })
          .then(res => {
            this.foto3=res.data
            this.loading=false
            resolve(file)
          })
          .catch(err => reject(err))
      })
    },
    anular(soli){
      this.$q.dialog({
        title: 'ANULAR',
        message: 'Motivo porque se va anular?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: false
      }).onOk(data => {
        // console.log('>>>> OK')
        if(data==undefined || data=='')
        return false
      this.$api.post('anular',{id:soli.id,motivo:data}).then((res) => {
        this.pedidoGet()
        this.$q.notify({
          message: 'Anulado',
          color: 'negative',
          position: 'top'
        })   })   
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    enviarRectificar(){
      if(this.motivo=='' || this.motivo==undefined)
        return false
        this.$api.post('rectificar',{id:this.solicitud2.id,motivo:this.motivo,tipo:this.tiporectifica}).then((res) => {
          this.dialogRectificar=false
        this.pedidoGet()
        this.$q.notify({
          message: 'Habilitado',
          color: 'negative',
          position: 'top'
        })
      })
    },
    rectificar(soli){
      this.motivo=''
     //this.ampliar='NO'
     this.tiporectifica='AMPLIAR'
      this.solicitud2=soli
      this.dialogRectificar=true

      /*this.$q.dialog({
        title: 'RECTIFICAR',
        message: 'Esta seguro motivo?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: false
      }).onOk(data => {
        console.log(data)
        if(data==undefined || data=='')
        return false
        // console.log('>>>> OK')
      this.$api.post('rectificar',{id:soli.id,motivo:data}).then((res) => {
        this.pedidoGet()
        this.$q.notify({
          message: 'Habilitado',
          color: 'negative',
          position: 'top'
        })
      })

      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })*/
    },
    imprimir(){



      const doc = new jsPDF(null,null,'legal');
      doc.setFont("helvetica",'bold');
      doc.setFontSize(10);
      doc.text(["SERVICIO NACIONAL DE SANIDAD AGROPECUARIA","E INOCUIDAD ALIMENTARIA",`"SENASAG"`], 110, 10,'center');
      doc.text("LEY NACIONAL 2061", 40, 30,'center');
      doc.text("No. CERTIFICADO    .............", 160, 30);
      doc.text("J.D.    .............", 185, 35);
      doc.setFontSize(12);
      doc.text("CERTIFICADO ZOOSANITARIO PARA ANIMALES DE COMPAÑIA (PERROS Y GATOS)", 110, 45,'center');
      doc.rect(10, 39, 200, 10);

      doc.setFontSize(10);
      doc.setFont("helvetica",'normal');
      doc.rect(10, 52, 40, 30);
      doc.rect(50, 52, 40, 30);
      doc.rect(90, 52, 40, 30);
      doc.rect(130, 52, 40, 30);
      doc.rect(170, 52, 40, 30);

      doc.text("Pais", 12, 57);
      doc.text([`N° de Certificado`,`del COMVETBOL`], 52, 57);
      doc.text('Departamento', 92, 57);
      doc.text(['Nombre y direccion del',' Destinatario'], 132, 57);
      doc.text('Pais destino:', 172, 57);

      doc.rect(10, 82, 40, 30);
      doc.rect(50, 82, 40, 30);
      doc.rect(90, 82, 40, 30);
      doc.rect(130, 82, 40, 30);
      doc.rect(170, 82, 40, 30);

      doc.text("Especi/Raza", 12, 87);
      doc.text([`Fecha y lugar de Nac.`], 52, 87);
      doc.text(['Tipo/color de pelage/','Signos particulares'], 92, 87);
      doc.text(['Nombre y direccion del',' Exportador'], 132, 87);
      doc.text('Pais de salida:', 172, 87);

      doc.setFont("helvetica",'bold');
      doc.setFontSize(12);
      doc.text("DATOS RELATIVOS A LA IDENTIFICACION DE LOS ANIMALES", 10, 118);
      doc.setFont("helvetica",'normal');
      doc.setFontSize(10);


      doc.rect(10, 122, 66, 40);
      doc.rect(76, 122, 66, 40);
      doc.rect(142, 122, 68, 40);
      doc.text(['Vacunacion Antirabica/fecha/lab N lote','/fecha/expiracion nombre veterinario:'], 12, 127);
      doc.text(['Examen Serologico/Periodo de Validez'], 78, 127);
      doc.text(['Examen Clinico/Fecha/Nombre ','del veterinario'], 144, 127);

      doc.setFont("helvetica",'bold');
      doc.setFontSize(12);
      doc.text("DETALLE DE LA MERCADERIA", 10, 168);
      doc.setFont("helvetica",'normal');
      doc.setFontSize(10);

      doc.rect(10, 172, 200, 10);
      doc.rect(10, 182, 200, 10);
      doc.rect(10, 192, 200, 20);

      doc.text("Destino de los animales", 12, 177);
      doc.text("Naturaleza e identificacion de transporte y acondicionamiento:", 12, 187);
      doc.text("NOTA:", 12, 197);

      doc.setFont("helvetica",'bold');
      doc.rect(10, 217, 200, 40);
      doc.text("El veterinario oficial infrascrito certifica que:", 12, 222);

      doc.setFont("helvetica",'normal');

      let text=`Para el desplazamiento de internaciones de canes y felinos, únicamente se autoriza el uso de vacuna a base de virus inactivos:
En caso de primera vacunación, el animal debe estar vacunado entre 6 mese y un año antes de ser introducido al país importador y administrada, como mínimo a los 3 meses de edad.
Debe haber sido sometido, de 3 a 24 mese antes, a una prueba de titulación de anticuerpos neutralizantes y su suero debe contener por lo menos 0.5 UI
El examen clínico deberá llevarse a cabo en el termino de 28 horas anteriores y antes del embarque
`
      doc.text(text,12, 228 , {
        maxWidth: 190,
        align: 'justify'
      });

      doc.rect(10, 262, 100, 45);
      doc.rect(110, 262, 100, 45);

      text=`Este permiso está supeditado al control del servicio nacional de sanidad agropecuaria e inocuidad alimentaria SENASAG a cuyo efecto el importador deberá solicitar la inspección correspondiente, requisito sin el cual. la oficina de aduana no permitirá el ingreso de los animales de compañía.`
      doc.text(text,12, 267 , {
        maxWidth: 90,
        align: 'justify'
      });

      doc.setFontSize(12);
      doc.text(['SELLLO','FIRMA FUNCIONARIO AUTORIZADO'], 160, 290,'center');
      doc.text('Lugar y fecha', 115, 303);

      // $( '#docpdf' ).attr('src', doc.output('datauristring'));
      doc.save("Certificado "+date.formatDate(Date.now(),'DD-MM-YYYY')+".pdf");
      // window.open(doc.output('bloburl'), '_blank');
    }
  }
}
</script>
<style>
.tabla{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid ;
}
</style>
